<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        async function fetchData() {
            const response = await fetch('http://localhost:8080/api/products.json')
            console.log(response)
            const data = await response.json();
            console.log(data);
        }
        fetchData();
    </script>
</body>

</html>



<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/xyz">
        <input type="text" name="uname" id="uname" placeholder="Enter name">
        <button type="submit">Submit</button>
    </form>
</body>
</html> -->





<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input id="uname" type="text" name="uname" placeholder="Enter your name">
    <input id="add" type="text" name="add" placeholder="Enter your name">
  <button id="xyz">click</button>
    <button id="btn">click me</button>

     <script>
        document.querySelector("#xyz").addEventListener('click', async() => {
            console.log("hii")
            let uname = document.querySelector('#uname').value.trim();
            let add = document.querySelector('#add').value.trim();
            let result = await fetch(`http://localhost:8080/getData?uname=${uname}&add=${add}`)
            console.log(100, result, typeof result);
            let data = await result.json();
            console.log(200, data, typeof data)
        })
    </script>
</body>

</html>
 






<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form id="form">
        <input type="text" id="fname" name="fname">
        <input type="text" name="lname" id="lname">
        <input type="submit">
    </form>
    <script>
        document.querySelector('#form').addEventListener('submit', async(e) => {
            e.preventDefault();
            const fname = document.querySelector('#fname').value.trim();
            const lname = document.querySelector('#lname').value.trim();
            const response =await fetch('https://127.0.0.1:8080/search',{
                method : 'POST',
                headers:{
                'Content-Type': 'text/plain'
                },
                body:JSON.stringify({fname:fname,lname:lname})
            })
            const data = await response.json();
            console.log(data);
        })
    </script>
</body>

</html> -->